@font-face {
  font-family: 'KiwiFruit';
  src: url('./KiwiFruit.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}